body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    color: black;
    font-size: 1.5vw;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Fredoka One", sans-serif;
  
}

ul {
    margin: 0px;
}

body > header {
    background-color: pink;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nav-ul {
    display: flex;

}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}
body > header >nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: white;
    text-decoration: none;
    padding: 12px;
    border: 1px solid white;
    border-radius: 10%;
}

body > main article {
    width: 70%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 70%;
}

h2 {
    text-align: center;
}
form {
    text-align: center;
}


body > footer {
    background-color: lightgray;
    display: flex;

}


#footer-ul {
    display: flex;
    list-style: none;
}

#footer-ul > div > li {
    margin-left: 12px;
  
}


#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    position: relative;
}

.image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
    display: block;
} 

.overlay-text {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 18px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
    width: calc(100% - 20px);
    box-sizing: border-box;
}

#footer-ul > div > li > a{
    text-decoration: none;
    color: white;
}

